<div class="container">
  <h1>Roles List</h1>
  <table class="table table-striped" style="width:70%">
    <thead style="width:70%">
      <tr>
        <th>Role Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <% @roles.each do |role| %>
    <tr>
      <td>
        <%= role.name %>
      </td>
    </tr>
    <% end %>
  </table>
</div>