<footer id="sticky-footer" class="mt-auto bg-light py-3">
  <div class="container text-center">
    <p class="mb=0">Copyright &copy; <%= link_to "Olena Lysenko 2024", "", class: "text-black" %></p>
  </div>
</footer>
