<footer id="sticky-footer" class="fixed-bottom mt-5 py-4 bg-light">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Olena Lysenko 2024", "", class: "text-black" %></small>
  </div>
</footer>
